.unguj {
    background-color: #CFD4ED;
}

.logokecil {
    width: 4px;
    height: 24px;
    background-color: #0D28A6;
    margin-left: 300px;
}

.LO {
    font-size: 14px;
    transform: translateX(-460px);
}

.btndrop {
    transform: translateX(-700px);
}

.jump{
    transform: translateX(-375px);
}

.btnGo {
    width: 43px;
    transform: translate(-1070px);
    margin-top: 24px;
}

.btnpage{
    display: flex;
    justify-content: end;
    margin-left: -120px;
    transform: translateY(-35px);
    
}